<div class="container-fluid">
    <div [ngBusy]="busy"></div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5 class="">Profile</h5>
                </div>
                <div class="panel-body">
                    <div class="span3 well">
                        <div class="row">
                            <div class="col-md-6"><a>
                                <img *ngIf="profile.avatarImage != null"
                                     [src]="'data:image/png;base64,'+profile.avatarImage" name="aboutme" width="140"
                                     height="140" class="img-circle"/>
                                <img *ngIf="profile.avatarImage == null" src="../../assets/images/default_profile.png"
                                     name="aboutme" width="140"
                                     height="140" class="img-circle"/>
                            </a>
                                <h3>{{profile.firstName}} {{profile.lastName}}</h3>
                                <div *ngIf="profile.userName != null"><label> Username: </label> {{profile.userName}}
                                </div>
                                <div *ngIf="profile.email != null"><label> Email: </label> {{profile.email}}</div>
                                <span class="badge badge-primary">+{{profile.upVote}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5 class="">{{profile.firstName}} Listings</h5>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-hover ">
                        <thead>
                        <tr>
                            <th>Category</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let list of lists.listingsCollection; let i = index">
                            <td class="col-md-3">{{list.listingType}}</td>
                            <td class="col-md-3">{{list.listingTitle}}</td>
                            <td class="col-md-5">{{list.listingDescription}}</td>
                            <td class="col-md-1">
                                <button class="btn btn-sm btn-default" md-tooltip="View Listing"
                                        (click)="openViewListingPage(list)">
                                    <span class="fa fa-eye"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container"> <!---->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body" *ngIf="reviews.length > 0">
                        <table class="table">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Reviews
                                    <small class="bg-info" *ngIf="!authGuard.userLogedin">Please LogIn to leave a
                                        Review
                                    </small>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let review of reviews;">
                                <td>
                                    <div class="form-group">
                                        <rating [(ngModel)]="review.upVotes" [max]="5" [disabled]="true"></rating>
                                        <br>
                                        <a [routerLink]="['../../user', review.ownerRefId]">
                                            <label>
                                                <small>{{review.username}}</small>
                                            </label>
                                        </a>
                                        <br>

                                        <label>Title: </label> {{review.reviewTitle}}
                                        <br>
                                        <label>Description: </label> {{review.reviewDescription}}
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                    <div class="panel-body text-center" *ngIf="this.reviews.length <= 0">
                        <small class="text-center">Be the first one to review</small>
                    </div>
                    <div class="panel-footer" *ngIf="!isSameUser">
                        <rating [(ngModel)]="starsCount"></rating>
                        <input class="form-control" placeholder="Title" [(ngModel)]="reviewTitle">
                        <div class="help-block">Title is Required</div>
                        <input id="rating-hidden" name="rating" type="hidden">
                        <textarea class="form-control animated" cols="50" id="new-review"
                                  name="comment" placeholder="Enter your review here..."
                                  rows="5" [(ngModel)]="reviewDescription"></textarea>
                        <div class="text-right">
                            <div class="stars" data-rating="0"></div>
                            <button class="btn btn-danger btn-sm"
                                    style="margin-right: 10px;" [(disabled)]="!authGuard.userLogedin">
                                <span class="fa fa-minus-circle"></span> Cancel
                            </button>
                            <button class="btn btn-success btn-lg" type="submit" [(disabled)]="!authGuard.userLogedin"
                                    (click)="saveReview()">Review
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>