<div class="container-fluid">
    <div [ngBusy]="busy"></div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5 class="">Profile</h5>
                </div>
                <div class="panel-body">
                    <div class="span3 well">
                        <div class="row">
                            <div class="col-md-6"><a>
                                <img *ngIf="profile.avatarImage != null"
                                     [src]="'data:image/png;base64,'+profile.avatarImage" name="aboutme" width="140"
                                     height="140" class="img-circle"/>
                                <img *ngIf="profile.avatarImage == null" src="../../assets/images/default_profile.png"
                                     name="aboutme" width="140"
                                     height="140" class="img-circle"/>
                            </a>
                                <h3>{{profile.firstName}} {{profile.lastName}}</h3>
                                <div *ngIf="profile.userName != null"><label> Username: </label> {{profile.userName}}
                                </div>
                                <div *ngIf="profile.email != null"><label> Email: </label> {{profile.email}}</div>
                                <span class="badge badge-primary">+{{profile.upVote}}</span></div>
                        </div>
                    </div>
                    <div class="btn-group-vertical">
                        <button class="btn btn-sm btn-primary" (click)="openChangeProfilePictureDialog()">Change
                            Profile Picture
                        </button>
                        <button class="btn btn-sm btn-primary" (click)="openAddListingDialog()">Change Password
                        </button>
                        <button class="btn btn-sm btn-primary" (click)="openAddListingDialog()">Change Username
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="pull-right">
                        <button class="btn btn-sm btn-primary" md-tooltip="Add Listing"
                                (click)="openAddListingDialog()"> <span
                                class="fa fa-plus"> Add Listing</span></button>
                    </div>
                    <h5 class="">Your Listings</h5>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-hover ">
                        <thead>
                        <tr>
                            <th>Category</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let list of lists.listingsCollection; let i = index">
                            <td class="col-md-2">{{list.listingType}}</td>
                            <td class="col-md-3">{{list.listingTitle}}</td>
                            <td class="col-md-6">{{list.listingDescription}}</td>
                            <td class="col-md-1">
                                <button class="btn btn-sm btn-default" md-tooltip="Edit Listing"
                                        (click)="openUpdateListingDialog(list)">
                                    <span
                                            class="fa fa-pencil"></span>
                                </button>
                                <button *ngIf="list.listingEnabled" md-tooltip="Disable Listing" class="btn btn-default"
                                        (click)="openDisableListingDialog(list)">
                                     <span
                                             class="fa fa-ban"></span>
                                </button>
                                <button *ngIf="!list.listingEnabled" md-tooltip="Enable Listing"
                                        class="btn btn-sm  btn-info"
                                        (click)="openDisableListingDialog(list)">
                                    <span
                                            class="fa fa-ban"></span>
                                </button>
                                <button class="btn btn-sm btn-default" md-tooltip="View Listing"
                                        (click)="openViewListingPage(list)">     <span
                                        class="fa fa-eye"></span>
                                </button>
                                <button class="btn btn-sm btn-danger" md-tooltip="Delete Listing"
                                        (click)="openDeleteListingDialog(list)">
                                    <span
                                            class="fa fa-trash"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="this.reviews.length > 0">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-footer">
                        Reviews
                    </div>
                    <div class="panel-body">
                        Reviews
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>