<div class="container">
    <div class="row">
        <div class="panel panel-primary filterable clearfix">
            <div class="panel-heading">
                <div class="pull-right">
                    <button class="btn btn-primary btn-xs btn-filter" (click)="toggleFilter()"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                </div>
                <h4 class="panel-title">All Listings</h4>

            </div>
            <div class="panel-body">
                <div [ngBusy]="busy"></div>
                <table class="table table-striped table-hover ">
                    <thead>
                    <tr class="filters" *ngIf="toggleFilterEnabled">
                        <th><input type="text" class="form-control" placeholder="Category"></th>
                        <th><input type="text" class="form-control" placeholder="Country" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Province"></th>
                        <th><input type="text" class="form-control" placeholder="City"></th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Category</th>
                        <th>Title</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let list of lists; let i = index">
                        <td>{{i}}</td>
                        <td>{{list.listingType}}</td>
                        <td>{{list.listingTitle}}</td>
                        <td>
                            <button class="btn btn-info" (click)="openViewListingPage(list)"> View</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>