<div class="container">
    <div class="row">
        <div class="panel panel-primary filterable clearfix">
            <div class="panel-heading">
                <h4 class="panel-title">{{list.listingTitle}}</h4>
            </div>

            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4">
                            <h5> Location:
                            <small>{{list.country}}</small>,
                            <small>{{list.province}}</small>,
                            <small>{{list.city}}</small>
                            </h5>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>