<div class="openDrawer"  (click)="navigationDrawer()">
    <span class="glyphicon glyphicon-menu-hamburger"></span>
</div>

<div class="overlay" [@showOverlay]="showOverlay"></div>

<div class="page container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center span6 heading">Navigation drawer using angular 2 animation</h2>
        </div>
    </div>
    <br/>
    <div class="resource-provider">Find more cool stuff at <a href="http://www.codershood.info/">www.codershood.info</a></div>
</div>

<div class="navigation" [@navigation]="navigation">
    <div class="close-nav" (click)="navigationDrawer()">
        <span class="glyphicon glyphicon-menu-left"></span>
    </div>
    <ul>
        <li>Home</li>
        <li>Posts</li>
        <li>Ideas</li>
        <li>Contacts</li>
        <li>About</li>
    </ul>
</div>